<!DOCTYPE html>
    <html lang="en">

        <head>
            <title>Building Management - Maintenance Invoices</title>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
        </head>
        
        <body>
            <script>
                function confirm_delete(a){
                    if (confirm("Are you sure you want to delete this?")){
                        window.location.href = a;
                    }
                }
            </script>
            <br><br>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-head text-center">
                                Apartment Details
                            </div>
                            <div class="card-body">
                                {% if message %}
                                    <div class="alert alert-danger" role="alert">
                                        {{message}}
                                    </div>
                                {% endif %}
                                <form method="post" action="{% url 'edit-apartment-form' aobj.id %}">{% csrf_token %}
                                    <input type="number" class="form-control" required name="num" placeholder="Enter The Apartment Number" value="{{aobj.aprt_number}}" {% if not type_of_user %}readonly{% endif %}><br>
                                    <input type="text" class="form-control" required name="name" placeholder="Enter The Name Of Apartment" value="{{aobj.name}}" {% if not type_of_user %}readonly{% endif %}><br>
                                    <input type="number" class="form-control" required name="phone" placeholder="Enter Phone Number" value="{{aobj.phone_nmber}}" {% if not type_of_user %}readonly{% endif %}><br>
                                    <select class="form-control" required name="type_of" {% if not type_of_user %}readonly{% endif %}>
                                        <option {% if aobj.type_of == 'Apartment' %}selected{% endif %} >Apartment</option>
                                        <option {% if aobj.type_of == 'Home' %}selected{% endif %} >Home</option>
                                        <option {% if aobj.type_of == 'Floor' %}selected{% endif %} >Floor</option>
                                        <option {% if aobj.type_of == 'Store' %}selected{% endif %} >Store</option>
                                        <option {% if aobj.type_of == 'Studio' %}selected{% endif %} >Studio</option>
                                    </select><br>
                                    <label>Date Of Birth</label><br>
                                    <input type="date" class="form-control" required name="dob" placeholder="Enter Date Of Birth" value="{{date_dis}}" {% if not type_of_user %}readonly{% endif %}><br>
                                    <input type="number" class="form-control" required name="cnum" placeholder="Enter Contract Number" value="{{aobj.contract_number}}" {% if not type_of_user %}readonly{% endif %}><br>
                                    <input type="number" class="form-control" required name="enum" placeholder="Enter Elect Number" value="{{aobj.elect_number}}" {% if not type_of_user %}readonly{% endif %}><br>
                                    <label>Comments</label>
                                    <textarea class="form-control" required name="note" {% if not type_of_user %}readonly{% endif %}>{{aobj.note}} </textarea><br>
                                    {% if type_of_user %}
                                        <button class="btn btn-primary text-center" type="submit">
                                            Save Changes
                                        </button>
                                    {% endif %}
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="card">
                            <div class="card-head text-center">
                                <a href="{% url 'apartments' aobj.building.id %}"><-Back</a>&ensp;&ensp;&ensp; Building - {{aobj.building.name}} &ensp; Apartment - {{aobj.aprt_number}}<br><br>

                                <form method="post" id="sort-form">{% csrf_token %}</form>
                                <div class="form-inline">
                                    &ensp;&ensp;&ensp;<button class="btn btn-primary" form="sort-form" onclick="this.form.submit();">
                                        Sort by Issued Date
                                    </button>&nbsp; : &nbsp;
                                    <select class="form-control" form="sort-form" name="asc_desc">
                                        <option value="0" {% if order == '0' %}selected{% endif %} >Ascending</option>
                                        <option value="1" {% if order == '1' %}selected{% endif %} >Descending</option>
                                    </select>
                                </div>

                            </div>
                            <div class="card-body">
                                {% if objs %}
                                    <table class="table">
                                        <tr>
                                            <td>Date</td>
                                            <td>Amount</td>
                                            <td>Building Name</td>
                                            <td>Apt Number</td>
                                            <td>Description</td>
                                            <td>Issued By</td>
                                            <td>Actions</td>
                                        </tr>
                                        {% for i in objs %}
                                            <tr>
                                                <td>{{i.today_date | date:'d-m-y'}}</td>
                                                <td>{{i.amount}}</td>
                                                <td>{{i.apartment.building.name}}</td>
                                                <td>{{i.apartment.aprt_number}}</td>
                                                <td>{{i.note}}</td>
                                                <td>{{i.user.username}}</td>
                                                <td>{% if request.user.is_superuser %}
                                                    <a onclick="confirm_delete('{% url 'delete-maintenance-invoice' i.id %}')" title="Delete"><span class="fa text-danger fa-lg fa-remove"></span></a>
                                                {% endif %}</td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                {% else %}
                                    <a>This Apartments Has No Maintenance Invoices Right Now.</a>
                                {% endif %}
                            </div>
                            <div class="card-footer">
                                <div class="row justify-content-around">
                                    <div class="col-lg-8">
                                        {% if type_of_user or write_priv%}
                                            <button class="btn btn-primary" type="button" onclick="window.location.href='/new-maintenance-invoice-form/{{aobj.id}}'">
                                                Add New Maintenance Invoice For This Apartment
                                            </button>    
                                        {% endif %}
                                    </div>
                                    {% if request.user.is_superuser %}
                                        <div class="col-lg-2">
                                            <a href="/admin">
                                                Admin
                                            </a>
                                        </div>
                                    {% endif %}
                                    <div class="col-lg-2">
                                        <a href="{% url 'logout' %}">
                                            Logout
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </body>

    
    </html>