<!DOCTYPE html>
    <html lang="en">

        <head>
            <title>Building Management - Invoices</title>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
        </head>
        
        <body>
            <script>
                function confirm_delete(a){
                    temp = a.split("delete-maintenance-invoice/")[1];
                    $.get('/check-delete-allowed/'+temp+'/m', function (data){
                        if (data['check']){
                            if (confirm("Are you sure you want to delete this?")){
                                window.location.href = a;
                            }
                        }
                        else{
                            window.alert("Action is not allowed");
                        }
                    });
                }
            </script>
            <br><br>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-head text-center">
                                <a href="{% url 'home' %}"><-Back</a>

                                <form method="post" id="sort-form">{% csrf_token %}</form>
                                <div class="form-inline">
                                    &ensp;&ensp;&ensp;<button class="btn btn-primary" form="sort-form" onclick="this.form.submit();">
                                        Sort by Issued Date
                                    </button>&nbsp; : &nbsp;
                                    <select class="form-control" form="sort-form" name="asc_desc">
                                        <option value="0" {% if order == '0' %}selected{% endif %} >Ascending</option>
                                        <option value="1" {% if order == '1' %}selected{% endif %} >Descending</option>
                                    </select>
                                </div>

                            </div>
                            <div class="card-body">
                                {% if objs %}
                                    <table class="table">
                                        <tr>
                                            <td>Date</td>
                                            <td>Amount</td>
                                            <td>Building Name</td>
                                            <td>Apt Number</td>
                                            <td>Description</td>
                                            <td>Issued By</td>
                                            <td>Actions</td>
                                        </tr>
                                        {% for i in objs %}
                                            <tr>
                                                <td>{{i.today_date | date:'d-m-y'}}</td>
                                                <td>{{i.amount}}</td>
                                                <td>{{i.apartment.building.name}}</td>
                                                <td>{{i.apartment.aprt_number}}</td>
                                                <td>{{i.note}}</td>
                                                <td>{{i.user.username}}</td>
                                                <td>{% if request.user.is_superuser %}
                                                    <a onclick="confirm_delete('{% url 'actual-delete-maintenance-invoice' i.id %}')" title="Delete"><span class="fa text-danger fa-lg fa-remove"></span></a>
                                                    {% endif %}</td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                {% else %}
                                    <a>No Deleted Maintenance Invoices Right Now.</a>
                                {% endif %}
                            </div>
                            <div class="card-footer">
                                <div class="row justify-content-around">
                                    <div class="col-lg-8">
                                    </div>
                                    {% if request.user.is_superuser %}
                                        <div class="col-lg-2">
                                            <a href="/admin">
                                                Admin
                                            </a>
                                        </div>
                                    {% endif %}
                                    <div class="col-lg-2">
                                        <a href="{% url 'logout' %}">
                                            Logout
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </body>

    
    </html>