<!DOCTYPE html>
    <html lang="en">

        <head>
            <title>Building Management - New Invoice</title>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        </head>
        
        <body>
            <br><br>
            <div class="container">
                <div class="row justify-content-around">
                    <div class="col-lg-8">
                        <div class="card">
                            <div class="card-head text-center">
                                {% if sel == 'i' %}
                                    <a href="{% url 'invoices' id %}"><-Back</a>&ensp;&ensp;&ensp; Add New Tenant
                                {% else %}
                                    <a href="{% url 'maintenance-invoices' id %}"><-Back</a>&ensp;&ensp;&ensp; Add New Tenant
                                {% endif %}
                            </div>
                            <div class="card-body">
                                {% if message %}
                                    <div class="alert alert-danger" role="alert">
                                        {{message}}
                                    </div>
                                {% endif %}
                                <form method="post">{% csrf_token %}
                                    <input type="text" class="form-control" required name="name" placeholder="Enter The Name"><br>
                                    <input type="number" class="form-control" name="phone" placeholder="Enter The Phone Number"><br>
                                    <input type="number" class="form-control" name="contract" placeholder="Enter The Contract Number"><br>
                                    <input type="number" class="form-control" name="elec" placeholder="Enter The Electric Number"><br>
                                    <button class="btn btn-primary text-center" type="submit">
                                        Add
                                    </button>
                                </form>
                            </div>
                            <div class="card-footer">
                                <div class="row justify-content-end">
                                    {% if request.user.is_superuser %}
                                        <div class="col-lg-2">
                                            <a href="/admin">
                                                Admin
                                            </a>
                                        </div>
                                    {% endif %}
                                    <div class="col-lg-2">
                                        <a href="{% url 'logout' %}">
                                            Logout
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </body>

    
    </html>